{% extends "basic.html" %}
{% block title%}
edit
{% endblock %}
{% block content %}
<div class="container my-5">
  <form method="POST" action="{% url "update" data.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="title" class="form-label">Note Name</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="title" value="{{ data.name }}" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter note description" required>{{ data.description }}</textarea>
    </div>

    

    <div class="mb-3">
      <label for="image" class="form-label fw-bold">Upload New Image</label>
      <input class="form-control" type="file" id="image" name="image" accept="image/*">
    </div>

    <button type="submit" class="btn btn-dark w-100">Edit Note</button>
  </form>
</div>
{% endblock %}
