{% extends 'basic.html'%}
{% block title%}
Home
{% endblock%}
{%block content %}
<style>
  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: typing 4s steps(40, end) forwards, blink 0.75s step-end 5;
    font-family: monospace;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: white;
    }
    from, to {
      border-color: transparent;
    }
  }
</style>

<h1 class="text-center mt-5 fw-bold text-dark">
  <span class="typewriter">Hello! Welcome {{name}} </span>
</h1>

<div class="container my-5">
  <form method="POST" action="{% url "notesave" %}"enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Note Name</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="Enter note title" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" rows="4" placeholder="Enter note description" required></textarea>

    


    <button type="submit" class="btn btn-dark w-100"> Add Note</button>
  </form>  
</div>


<div class="container">
  <h2 class="text-center my-4">Notes ({{cards| length}})</h2>

  <div class="row">
    
      {% for c in cards %}
      <div class="col-md-6 mb-3">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">{{ c.name }}</h5>
            <p class="card-text text" style="max-height: 3.6em; overflow: visible;">
        {{ c.description }}
      </p>

            <div class="d-flex justify-content-center gap-2">
               <a class="btn btn-sm btn-outline-success"href="{% url "view" id=c.id %}">view</a>
              <a class="btn btn-sm btn-outline-primary"href="{% url "edit" id=c.id%}">Edit</a>
              <a  class="btn btn-sm btn-outline-danger" href= "{% url "delete" id=c.id%}">Delete</a>
            </div>
          </div>
        </div>
      </div>
   
    
    {% endfor %}
  </div>
</div>


{%endblock%}